* {
  margin: 0;
  padding: 0;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav,
footer {
  background-color: black;
  font-size: 20px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  text-align: center;
  width: 20%;
  color: white;
  padding: 2vh 0;  cursor: pointer; 
}

.crunchyroll {
  color: orange;
}

.wakanim {
  color: red;
}

.adnNav {
  color: lightskyblue;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.accueil:hover,
.contact:hover {
  background-color: white;
  color: black;
}

.crunchyroll:hover {
  color: black;
  background-color: orange;
}

.wakanim:hover {
  color: black;
  background-color: red;
}

.adnNav:hover {
  color: black;
  background-color: lightskyblue;
}

.crunchy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(240, 227, 227);
  background: radial-gradient(
    circle,
    rgba(240, 227, 227, 1) 4%,
    rgba(222, 155, 19, 1) 90%
  );
}

.waka {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(240, 227, 227);
  background: radial-gradient(
    circle,
    rgba(240, 227, 227, 1) 5%,
    rgba(222, 19, 19, 1) 91%
  );
}

.adn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(240, 227, 227);
  background: radial-gradient(
    circle,
    rgba(240, 227, 227, 1) 5%,
    rgba(19, 197, 222, 1) 90%
  );
}

img {
  width: 50vw;
  height: 50vh;
}
