* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: gray;
  min-height: 100vh;
  max-width: 100vw;
}

a {
  text-decoration: none;
}

.contenair {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 63vh;
}

.carousell {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  margin: 0 7vw;
}

.carousell h1 {
  text-align: center;
  margin-bottom: 1vh;
  font-size: 17px;
  width: 100%;
}

img {
  width: 13vw;
  height: 35vh;
}

.image {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 0 2vw;
}

.button {
  background-color: transparent;
  width: 115%;
  position: absolute;
  z-index: 100;
  display: none;
  justify-content: space-between;
  top: 50%;
  padding: 0 2vw;
}

.buttonPlus,
.buttonMoin {
  width: 2vw;
  height: 2vw;
  border-radius: 80%;
  opacity: 0.7;
  background-color: lightskyblue;
  border-width: 0;
  outline: none;
  font-size: 20px;
}

.buttonPlus:hover,
.buttonMoin:hover {
  opacity: 1;
  transition: 0.3s ease;
}

.synopsis {
  width: 80vw;
  height: auto;
  background-color: lightskyblue;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 2vh;
  padding: 15px;
  border-radius: 15px;
  margin: 0 auto;
  font-size: 20px;
}

.synopsis p {
  text-align: center;
  margin-bottom: 1vh;
}
.synopsis h1 {
  margin-bottom: 1vh;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav,
footer {
  background-color: black;
  font-size: 20px;
}

.nav {
  display: flex;
  list-style: none;
  padding: 0 2vw;
}

.crunchyroll,
.wakanim,
.adnNav,
.accueil,
.contact {
  text-align: center;
  width: 20%;
  color: white;
  padding: 2vh 0;
  cursor: pointer;
}

.crunchyroll {
  color: orange;
}

.wakanim {
  color: red;
}

.adnNav {
  color: lightskyblue;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.accueil:hover,
.contact:hover {
  background-color: white;
  color: black;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.crunchyroll:hover {
  color: black;
  background-color: orange;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.wakanim:hover {
  color: black;
  background-color: red;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}

.adnNav:hover {
  color: black;
  background-color: lightskyblue;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
}
