* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenair {
  display: flex;
  justify-content: center;
}

.carousell {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div {
  width: 15rem;
  margin: 0 10px;
}

#imgMoinMoin {
  width: 15%;
  height: 80%;
}

#imgMoin {
  width: 18%;
  height: 90%;
}
#imgPrincipal {
  width: 250px;
  height: 400px;
}

#imgPlus {
  width: 18%;
  height: 90%;
}

#imgPlusPlus {
  width: 15%;
  height: 80%;
}

#imgMoinMoin, #imgMoin, #imgPrincipal, #imgPlus, #imgPlusPlus{
    background-size: cover;
} 
